


<div id="shopping-container">
    <h2>YOUR SHOPPING BAG</h2>


    <div id="shopping-bag-items"></div>

    <%= form_for @invoice do |f| %>
        <%= f.hidden_field :item[:id] %>
        <%= f.hidden_field :buyer_id, @current_user_id %>
        <%= f.submit %>
    <% end %>

    <button id="place-order-button">Place Order</button>

</div>


<script type="text/javascript">
    $('form').submit(function(e) {
        e.preventDefault()
        console.log("clicking button")
    })
</script>
