


<div id="shopping-container">
    <h2>YOUR SHOPPING BAG</h2>


    <div id="shopping-bag-items"></div>



    <button id="place-order-button">Place Order</button>

</div>


<script type="text/javascript">
    $('#place-order-button').click(function() {
        console.log("clicking button")
    })
</script>
