
<% @items.each do |item| %>
    <div id="item-container">
        <div class="item-list" data-id=<%=item.id%>></div>
        <%= item.name %><br>
        <%= item.description %><br>
        <%= item.price %> <br>
        </div>
    </div>
        <div class="add-button"></div>
<% end %>




<button id="shop-button">Start shopping</button>

<script type="text/javascript">
    $('#shop-button').on('click', addButton)

function addButton() {
    $('.add-button').append('<button class="add-item-button" data-id=id>Add Item To Bag</button><button class="email-seller-button" data-id=id>Email Seller</button>')
        if (!$('.add-button').is(':empty')) {
            $('#shop-button').off('click', addButton)
        }
}
</script>


